* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}



/* Header section. */
ul {
    display: flex;
    float: right;
    margin: 0.5rem;
    list-style-type: none;
}

li {
    margin: 1rem;
}
    